<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Waterwise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Waterwise.css">
    </head>
    <body>
  <header>
    <div class="nav-container">
        <a href="/">
            <img src="/Waterwise-logo.jpg" alt="Waterwise logo" class="logoimage">
        </a>

        <nav>
            <a href="/watercalculator" class="navitem">Water calculator</a>
            <a href="/logs" class="navitem">Logs</a>
            <a href="/about-us" class="navitem">About us</a>
            <a href="/forecast" class="navitem">Forecast</a>
        </nav>
    </div>
  </header>



        <footer>
            <p>© 2026 WaterWise Water Usage Tracker</p>
        </footer>
    </body>
</html>
