<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Waterwise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Waterwise.css">
    </head>

    <body>




            <div class="mainscreen">
                <header>
                    <div class="nav-container">
                            <a href="index.html">
                                <img src="Waterwise-logo.jpg" alt="Waterwise logo" class="logoimage">
                            </a>
                    <nav>

                            <a href="watercalculator.html" class="navitem">Water calculator</a>
                            <a href="logs.html" class="navitem">Logs</a>
                            <a href="AboutUs.html" class="navitem">About us</a>
                    </nav>
                    </div>
                </header>

                <h1>Waterwise</h1>
            </div>
            
        <main>
            <div class="information">
                <div class="info-card right">
                    <h2>Smart Irrigation</h2>
                    <p>Optimize your watering schedule using intelligent weather patterns and real time groundwater level monitoring</p>
                </div>
                <div class="info-card left">
                    <h2>Eco-Friendly Savings</h2>
                    <p>Reduce unnecessary water waste, protect local ecosystems, and lower your monthly utility bills</p>
                </div>

            </div>
            <div class="statistics">

            </div>
        </main>

        <footer>
            <p>© 2026 WaterWise water tracker</p>
        </footer>

    </body>
</html>