<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Waterwise - Logs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Waterwise.css">
</head>

<body>
    <div class="logs-main">
        <header>
            <div class="nav-container">
                <a href="/">
                    <img src="/Waterwise-logo.jpg" alt="Waterwise logo" class="logoimage">
                </a>

                <nav>
                    <a href="/watercalculator" class="navitem">Water calculator</a>
                    <a href="/logs" class="navitem">Logs</a>
                    <a href="/about-us" class="navitem">About us</a>
                    <a href="/forecast" class="navitem">Forecast</a>
                </nav>
                <button class="login-button"
                id="open_login"
                th:if="${username == null}">
                Login
                </button>
                <span class="username"
                      th:if="${username != null}"
                      th:text="${username}">
                </span>
                <form action="/logout" method="post" th:if="${username !=null}">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </header>
        <h1>Personal logs</h1>
    </div>


<main>

    <h1>Water consumption logs</h1>
    <h2>
        Total consumption:
        <span th:text="${total['totallitres']}"></span> L
    </h2>
    <h2>Add water usage</h2>

    <form action="/logs/add" method="post">

        <label for="activity">Activity:</label>

        <select name="activity" id="activity">
            <option value="Shower">Shower, minutes</option>
            <option value="Faucet">Faucet, minutes</option>
            <option value="Washing machine">Washing machine, loads</option>
            <option value="Washing machine eco program">Washing machine eco, loads</option>
            <option value="Toilet regular flush">Toilet regular flush, amount</option>
            <option value="Toilet small flush">Toilet small flush, amount </option>
            <option value="Dishwasher">Dishwasher, loads</option>
            <option value="Dishwasher eco program">Dishwasher eco, loads</option>
            <option value="Other">Other, litres</option>
        </select>

        <br><br>

        <label for="duration">Duration / amount:</label>
        <input type="number" name="duration" id="duration" min="1" required>

        <br><br>

        <label for="date">Date:</label>
        <input type="date" name="date" id="date" required>

        <br><br>

        <button type="submit">Add log</button>

    </form>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Water consumption</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${consumption}">
            <td th:text="${row['datum']}"></td>
            <td th:text="${row['totallitres']} + ' L'"></td>
        </tr>
        </tbody>
    </table>
    <form action="/logs" method="get">
        <label for="date">FromDate:</label>
        <input type="date" name="startDate" id="startDate" required>

        <label for="date">ToDate:</label>
        <input type="date" name="endDate" id="endDate" required>

        <br><br>

        <button type="submit">Show data</button>

    </form>

    <table>
        <thead>
        <tr>
            <th>Activity</th>
            <th>Water consumption</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="row : ${activityConsumption}">
            <td th:text="${row['activity']}"></td>
            <td th:text="${row['totallitres']} + ' L'"></td>
        </tr>
        </tbody>
    </table>

</main>


    <footer>
        <p>© 2026 WaterWise Water Usage Tracker</p>
    </footer>

    <div class="popup-container" id="popup_container">
        <div class="login-box">
            <form action="/login" method="post" class="login-form" id="login_form">
                <h2>Login</h2>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <div class="btn-holder">
                    <button type="submit">Login</button>
                    <button type="button" id="create_account">Create Account</button>
                    <button type="button" id="close_login">Close</button>
                </div>

            </form>
            <form action="/register" method="post" class="login-form" id="register_form" style="display: none;">
                <h2>Create Account</h2>

                <label for="register_username">Username: </label><br>
                <input type="text" id="register_username" name="username" required><br>

                <label for="register_password">Password: </label><br>
                <input type="password" id="register_password" name="password" required><br>

                <label for="confirm_password">Confirm Password: </label><br>
                <input type="password" id="confirm_password" name="confirmPassword" required><br><br>

                <div class="btn-holder">
                    <button type="submit">Create Account</button>
                    <button type="button" id="back_to_login">Back to Login</button>
                    <button type="button" id="close_register">Close</button>
                </div>
            </form>
        </div>
    </div>
        
<script src="/Scripts.js"></script>

</body>

</html>
