<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Waterwise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Waterwise.css">
    </head>
    <body>
            <div class="watercalculator-mainscreen">
                <header>
                    <div class="nav-container">
                            <a href="index.html">
                                <img src="Waterwise-logo.jpg" alt="Waterwise logo" class="logoimage">
                            </a>
                    <nav>

                            <a href="watercalculator.html" class="navitem">Water calculator</a>
                            <a href="logs.html" class="navitem">Logs</a>
                            <a href="AboutUs.html" class="navitem">About us</a>
                    </nav>
                    </div>
                </header>

                <h1>Waterwise</h1>
            </div>
            


        <footer>
            <p>© 2026 WaterWise Water Usage Tracker</p>
        </footer>
    </body>
</html>